<footer class="pt-4 my-md-5 pt-md-5 border-top">
<div class="container-fluid">
    <div class="row">
    <div class="col-12 col-md bg-dark text-center py-3">
    <small class="text-white">Creted By {{ name }} &copy; 2017-2018</small>
    </div>
</div>
</div>
</footer>
